@font-face{font-family: "swisR";src: url("../fuentes/Swis721 BT Regular.ttf");}
@font-face{font-family: "swisN";src: url("../fuentes/Swis721 BT Negrita.ttf");}
@font-face{font-family: "frank";src: url("../fuentes/Franklin Gothic Book.ttf");}
