/*
@font-face{font-family: "Roboto";src: url("../fuentes/Roboto-Medium.ttf");}
@font-face{font-family: "Roboto Bold";src: url("../fuentes/Roboto-Bold.ttf");}
@font-face{font-family: "Roboto Slab";src: url("../fuentes/RobotoSlab-Regular.ttf");}
@font-face{font-family: "Roboto Slab Bold";src: url("../fuentes/RobotoSlab-Bold.ttf");}
@font-face{font-family: "Roboto Slab Light";src: url("../fuentes/RobotoSlab-Light.ttf");}
 */

@font-face{font-family: "Gothic-regular";src: url("../fuentes/GOTHIC.TTF");}
@font-face{font-family: "Gothic-bold";src: url("../fuentes/GOTHICB.TTF");}
@font-face{font-family: "Gothic-italic";src: url("../fuentes/GOTHICI.TTF");}
@font-face{font-family: "Gothic-bold-italic";src: url("../fuentes/GOTHICBI.TTF");}

@font-face{font-family: "Humnst-regular";src: url("../fuentes/Humnst777.ttf");}
@font-face{font-family: "Humnst-bold";src: url("../fuentes/Humnst777_Bold.ttf");}