@font-face{font-family: "swisR";src: url("../Fuentes/Swis721 BT Regular.ttf");}
@font-face{font-family: "swisN";src: url("../Fuentes/Swis721 BT Negrita.ttf");}
@font-face{font-family: "frank";src: url("../Fuentes/Franklin Gothic Book.ttf");}